services:
  redis:
    image: redis:7.2-alpine
    container_name: parking-redis
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      retries: 5

  postgres:
    image: postgis/postgis:15-3.3
    container_name: parkingservice_db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: parkingservice
      POSTGRES_USER: fs_user
      POSTGRES_PASSWORD: fs_password
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
    container_name: parkingservice_app
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_started
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
    ports:
      - '8080:8080'

volumes:
  pgdata:
