spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/facilityscope
    username: fs_user
    password: fs_password
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
logging:
  level:
    org.flywaydb.core: DEBUG
